@import "tailwindcss";

@theme {
  /* Brand colors */
  --color-primary: #4077ff;

  /* Surface colors */
  --background-color-surface-default: #000000;
  --background-color-surface-secondary: #161616;
  --background-color-surface-highlight: #000d2d;

  /* Border colors */
  --border-color-default: #2f2f2f;
  --border-color-text-default: #ffffff;

  /* Text colors */
  --color-default: #ffffff;
  --color-subtitle: #7a7a7a;
  --color-on-primary: #ffffff;

  /* Support colors */
  --color-warning: #eab308;
  --color-success: #3ba936;
}

@layer base {
  :root {
    color-scheme: dark;
    --tw-duration: 500ms;
    @media (prefers-reduced-motion) {
      --tw-duration: 0ms;
    }
  }

  body {
    @apply bg-surface-secondary text-default;
  }

  a,
  button,
  *[role="button"],
  *[role="tab"],
  *[role="radio"] {
    cursor: pointer;
  }
}

@utility container {
  @apply max-w-screen-2xl mx-auto;
}

/* Typography */
@utility text-headline-lg {
  @apply text-3xl font-bold lg:text-4xl;
}

@utility text-headline-md {
  @apply text-2xl font-bold lg:text-3xl;
}

@utility text-headline-sm {
  @apply text-xl font-bold lg:text-2xl;
}

@utility text-body-lg {
  @apply text-base font-medium lg:text-lg;
}

@utility text-body-md {
  @apply text-sm font-medium lg:text-base;
}

@utility text-body-sm {
  @apply text-xs lg:text-sm;
}

/* Components */
@utility chip {
  @apply flex items-center justify-center py-1.5 px-3 gap-2 text-xs lg:py-2 lg:px-3 lg:text-sm rounded-lg bg-surface-default whitespace-nowrap;
}

.chip svg {
  @apply w-4 h-4 lg:w-5 lg:h-5;
}

@utility btn {
  @apply rounded-xl bg-primary text-on-primary font-semibold text-sm px-8 pt-[0.5625rem] pb-[0.6875rem] lg:text-base lg:pt-[0.6875rem] lg:pb-[0.75rem] flex items-center justify-center gap-2 whitespace-nowrap transition-all shadow-primary;
}

@utility btn-tonal {
  @apply bg-surface-secondary text-default hover:bg-surface-highlight;
}

.btn svg {
  @apply w-5 h-5;
}

.btn:hover {
  box-shadow: 0 8px 15px -10px var(--tw-shadow-color);
}

@utility divider {
  @apply flex-1 rounded-full max-lg:h-0.5 lg:w-0.5 bg-subtitle transition-all;
}

@utility divider-active {
  @apply bg-primary max-lg:h-1 lg:w-1;
}
